.form-validation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fieldset {
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-fieldset header {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form input {
    border-radius: 7px;
}

form label {
    color: #fff;
}


form .form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-btns input[type="submit"],
.form-btns input[type="reset"] {
    border: 0;
    padding: 0.5rem 2.3rem;
    color: #fff;
}

.form-btns input[type="submit"] {
    background: green;
}

.form-btns input[type="reset"] {
    background: red;
}

.formError {
    border: 2px solid red;
}

.formSucess {
    border: 2px solid green;
}

.errorMessages {
    color: #fff;
}